.wr-estimate-shipping-tax+.home-nav{display: none;}

.wr-shopping-cart{
  &.wr-estimate-shipping-tax{
    padding-bottom: 0;
  }
  width: 100%;
  min-height: calc(100vh - 65px);
  padding-top: 50px;
  padding-bottom: 65px;
  background: #f9f9f9;
  position: relative;
  .items{
    padding: 10px 0;
    .item{
      &>.accordion{
        margin: 0 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(242,242,242);
      }
      &:last-of-type>.accordion{
        border-bottom: none;
      }
      position: relative;
      background: #fff;
      margin-bottom: 10px;
      .item-inner{
        &.free-gift{
          .item-content{
            input[disabled]{
              width: 34px;
              height: 34px;
              border-radius: 100px;
              text-align: center;
            }
            input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
        display: flex;
        flex-direction: row;
        font-size: 14px;
        color: rgb(76,76,76);
        .item-image{
          margin-right: 15px;
          width: 95px;
          img{
            width: 100%;
          }
        }
        .item-content{
          width: 100%;
          .name{
            margin-bottom: 10px;
          }
          .input-qty{
            width: 100px;
            height: 34px;
          }
          .item-sub{
            color:#868686;
            position: relative;
          }
          .item-details{
            padding: 10px 0;
          }
        }
      }
      .add-coupon{
        padding: 0;
        border: none;
        outline: none;
        background: #fff;
        color:rgb( 7, 121, 255);
        font-size: 14px;
        box-shadow: none;
        &:focus{
        }
      }
      .field-add-coupon{
        font-size: 14px;
        display: flex;
        place-items: baseline;
        width: 100%;
        input{
          border: none;
          box-shadow: none;
        }
        .btn-cancel{
          padding:5px 15px;
          border: none;
          box-shadow: none;
          background-color: rgb( 244, 244, 244);
          color: rgb(77,77,77);
        }
      }
    }
  }
  .wr-cart-unselected{
    text-align: center;
    .text{
      color: rgb( 119, 119, 119);
      font-size: 16px;
      margin-top: 20px;
    }
  }
}
.bar-checkout{
  width: 100%;
  border-top: 1px solid #ededed;
  position: fixed;
  bottom:65px;
  height: 65px;
  background-color: #fff;
  z-index: 900;
  color:#4c4c4c;
  padding-top: 5px;
  .label{
    opacity: 0.6;
    font-size: 19px;
  }
  .value{
    font-weight: 500;
    font-size: 18px;
  }
  button{
    padding: 10px 15px;
    margin: 5px 0;
  }
}
