.wr-address-book{
  width: 100%;
  padding-top: 50px;
  min-height: calc(100vh - 65px);
  background: #f9f9f9;
  .items{
    .item{
      background-color: #fff;
      margin-bottom: 10px;
      padding: 20px 10px 10px 10px;
      .inner-item{
        display: flex;
        flex-direction: row;
        place-items: center;
        position: relative;
        a{
          text-decoration: none;
          .details{
            .title{
              color: rgb(76,76,76);
              font-size: 16px;
              font-weight: 500;
            }
            .desc{
              color:#a7a7a7;
              font-size: 14px;
            }
          }
        }
        i{
          margin-left: auto;
          font-size: 20px;
          color: #838383;
        }
        .item-delete{
          right: -8px;
          top: -13px;
        }
      }
    }
  }
}
