
.wr-user-login{
  &+.home-nav{
    display: none;
  }
  min-height: calc(100vh - 65px);
  background-color: #f9f9f9;
  .wr-title{
    padding:30px 0 20px 0;
    .wr-title-inner{
      position: relative;
      padding: 0 25px;
      .title{
        line-height: 33px;
        font-weight: 400;
        font-size: 24px;
        color: #5b5b5b;
        margin-bottom: 19px;
      }
      .sub-title{
        font-size: 14px;
        color: #494949;
      }
      .btn-close{
        position: absolute;
        right: 0;
        top: 0;
        img{
          width: 70%;
        }
      }
    }
  }
  .wr-content{
    background-color: #fff;
    .text-forgot{
      padding: 20px 10px;
    }
  }
}
