.wr-list-app{
  position: relative;
  min-height: calc(100vh - 65px);
  .top-bar{
    padding:1rem;
    z-index: 9;
    background-color: rgb(42, 58, 75) ;
    box-shadow: 0 3px 3px #cdcdcd;
    color:#fff;
    a{
      color:#fff;
      margin-left: auto;
    }
  }
  .one-app{
    border: 1px solid #cdcdcd;
    padding: 5px;
    .img{
      max-width: 70px;
      display: flex;
      img{
        border: 1px solid #cdcdcd;
        object-fit: contain;
        width: 100%;
      }
    }
    button{
      padding: 2px 10px;
      font-size: 14px;
    }
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
  }
  .btn-input-key{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px #a09595;
    border:none;
    background-color: rgb(255, 90, 15);
    outline: none;
    position: fixed;
    bottom:75px;
    right:5px;
    &:hover{
      border:none;
      background-color: rgb(255, 90, 15);
      outline: none;
    }
  }

}
