.wr{
  display: flex;
  place-items: baseline;
  background-color: rgb(249,249,249);
  padding: 0 10px;
  border-radius: 50px;
  .input-qty{
    padding: 5px;
    text-align: center;
    max-width:60px;
    box-shadow: none;
    border: none;
    background-color: initial;
    &:focus{
      border: none;
    }
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
