
.grid-product{
  background: #f9f9f9;
  .row {
    margin-right: 0;
    margin-left: 0;
    &>.col {
      padding-left: 0;
      padding-right: 0;
    }
    &>div:nth-child(2n+1) .wr-item{
      margin-right: 3px;
    }
    &>div:nth-child(2n) .wr-item{
      margin-left: 3px;
    }
  }
    .wr-item{
      background: #fff;
      padding:10px;
      margin-bottom: 6px;
      .item{
        position: relative;
        .item-image{
          position: relative;
          margin-bottom: 10px;
          img{
            width: 100%;
          }
        }
        .item-name{
          height: 2.5em;
          margin-bottom: 8px;
          a{
            color:#4c4c4c;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .price-box{
          position: relative;

          .item-price{
            font-weight: 600;
            font-size: 18px;
          }
          .item-old-price{
            color: rgb(153, 153, 153);
            text-decoration: line-through;
          }
          .item-new-price{
            color: rgb(38, 38, 38);
          }
        }
        .out-of-stock{
          position: absolute;
          bottom:10px;
          right: 10px;
          color: rgb(125,125,125);
          font-size: 14px;
          text-align: center;
          background-color: rgb(249,249,249);
          border-radius: 10px;
          width: 60px;
          height: 45px;
          &.qty-0{
            text-align: center;
            background-color: #fff;
            border: 1px solid rgb(212,212,212);
            .label{
              font-size: 12px;
              color: rgb(125,125,125);
            }
            .value{
              font-size: 14px;
              font-weight: 500;
              color:rgb(73,73,73);
            }
          }
        }
        .buy-it-now{
          color: rgb(175,124,0);
          font-size: 12px;
          margin: 5px 0;
        }
      }
    }
}


.list-product{
  background: #f9f9f9;
  .row {
    margin-right: 0;
    margin-left: 0;
    &>.col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .wr-item{
    background: #fff;
    padding:10px;
    margin-bottom: 8px;
    .item{
      display: flex;
      flex-direction: row;
      position: relative;
      .item-image{
        position: relative;
        width: 100px;
        height: 100px;
        img{
          width: 100%;
        }
      }
      .item-details{
        width: calc(100% - 100px);
        .item-name{
          height: 2.5em;
          margin-bottom: 8px;
          a{
            color:#4c4c4c;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .price-box{
          position: relative;
          .item-price{
            font-weight: 600;
            font-size: 18px;
          }
          .item-old-price{
            color: rgb(153, 153, 153);
            text-decoration: line-through;
          }
          .item-new-price{
            color: rgb(38, 38, 38);
          }
        }
      }

      .item-bag{
        position: absolute;
        right: 5px;
        bottom: 5px;
        button{
          border-radius: 50px;
          width: 50px;
          height: 30px;
          background: #43A422;
          margin-bottom: 0;
          svg{
            vertical-align: baseline;
          }
        }
      }
      .out-of-stock{
        position: absolute;
        bottom:10px;
        right: 10px;
        color: rgb(125,125,125);
        font-size: 14px;
        text-align: center;
        background-color: rgb(249,249,249);
        border-radius: 10px;
        width: 60px;
        height: 45px;
        &.qty-0{
          text-align: center;
          background-color: #fff;
          border: 1px solid rgb(212,212,212);
          .label{
            font-size: 12px;
            color: rgb(125,125,125);
          }
          .value{
            font-size: 14px;
            font-weight: 500;
            color:rgb(73,73,73);
          }
        }
      }
      .buy-it-now{
        color: rgb(175,124,0);
        font-size: 12px;
        margin: 5px 0;
      }
    }
  }
}
