.wr-more{
  .bar-login{
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 20px 10px 40px 10px;
    .avatar{
      width: 65px;
      height: 65px;
      img{
        width: 100%;
      }
    }
    .link{
      color: #000;
      text-decoration: none;
    }
    .push-message{
    }
  }
  .list-group{
    .nav-link{
      color:#000;
      padding: 0;
      margin: 0;
      text-decoration: none;
      .list-group-item{
        padding: 10px;
        align-items: center;
        border-right: none;
        border-left: none;
        border-top: none;
        border-radius: 0;
        position: relative;
        .item-image{
          width: 40px;
          height: 40px;
          margin-right: 10px;
          img{
            width: 100%;
          }
          .item-name{

          }
        }
        i{
          margin-left: auto;
          margin-right: 10px;
        }
      }
    }

  }
}
