.item-bag{
  position: absolute;
  right: 0;
  bottom: 0;
  button{
    border-radius: 50px;
    width: 50px;
    height: 30px;
    background: #43A422;
    padding: 3px 15px 5px;
    margin-bottom: 0;
    svg{
      vertical-align: baseline;
    }
  }
}
.btn-show-price{
  background-color: #fff;
  color:#736f6f;
  box-shadow: none;
  border: 1px solid #736f6f;
  margin: 10px 0 0 0;
}
.item-delete{
  position: absolute;
  right: 30px;
  bottom: 8px;
  .btn-trash{
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 100%;
    background-color: initial;
    transition: all ease 1s;
    svg{
      position: absolute;
      right: 8px;
      top:9px;
    }
  }
  .btn-delete{
    padding:5px 15px;
    border:none;
    background: rgb( 255, 65, 65);
    border-radius: 100px;
    box-shadow: none;
    font-size: 14px;
  }
}
.item-close{
  .btn-close{
    background-color: initial;
    width: 20px;
    height: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 50px;
    padding: 0;
    box-shadow: none;
    &:active{
      background-color: #fff !important;
    }
    img{
      margin-bottom: 8px;
      width: 55%;
    }
  }
}

