.wr-search{
  width: 100%;
  padding-top: 50px;
  min-height: calc(100vh - 65px);
  background: #f9f9f9;
  .no-item{
    color:#a7a7a7;
    width: 200px;
    margin: calc(100vh/3 - 20px) auto 0 auto;
  }
  .search-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
    .inner-box{
      width: calc(100% - 120px);
      position: relative;
      height: 36px;
      margin-right: 10px;
      margin-left: 10px;
      i{
        position: absolute;
        left: 10px;
        top:calc(50% - 8px);
      }
      input{
        border-radius: 6px;
        min-width: 180px;
        height: 100%;
        padding: 4px 5px 4px 37px;
        color: #fff;
        background: #00000020;
        box-shadow: none;
      }
    }
    button{
      box-shadow: none;
      width: 80px;
      border: none;
      background-color: #fff;
      color: #000;

    }
  }

  .items{
    &.most-recent{
      height: 0;
      overflow: hidden;
    }
    .item{
      background-color: #fff;
      .inner-item{
        padding: 15px 0;
        border-bottom: 1px solid #f9f9f9;
          .img{
          width: 90px;
          margin-right: 15px;
          img{
            width: 100%;
          }
        }
        .item-right{
          min-width: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .item-bag, .item-delete{
            position: relative;
            right: 0;
            bottom:0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

}
