@import "../../Style/variable";

.wr-my-account{
  background-color: $main-bg-color ;
  .wr-header{
    padding: 20px;
    .inner-header{
      display: flex;
      flex-direction: column;
      place-items: center;
      .img{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        cursor: default;
        img{
          width: 100%;
        }
      }
      .text-name{
        cursor: default;
        color: $color-rgb73;
        font-weight: 500;
        font-size: 16px;
      }
      .text-mail{
        cursor: default;
        font-size: 14px;
        color:$color-rgb137;
      }
    }
  }
  a{
    text-decoration: none;
    .link{
      color:$color-rgb76;
      padding:18px 0;
      display: flex;
      flex-direction: row;
      place-items: center;
      border-bottom: 1px solid #e8e8e8;
      .img{
        width: 22px;
        height: 22px;
        margin-right: 10px;
        img{
          width: 100%;
        }
      }
      i{
        margin-left: auto;
        margin-right: 10px;
      }
    }
    &:last-of-type{
      .link{border: none;}
    }
  }
  .wr-logout{
    padding: 18px 0;
    text-align: center;
    color:#0779ff;
    cursor: pointer;
    &:hover{
      color:$color-rgb76;
    }
  }
  .version{
    font-size: 12px;
    color:#979797;
    text-align: center;
    padding: 18px 0;
  }
}
