.wr-product-list{
  width: 100%;
  min-height: 80vh;
  margin-top: 50px;
  background: #f9f9f9;
  .bar-filter{
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    .sort{
      width: calc(100% - 95px - 60px);
      .select-sort{
        max-width: 250px;
      }
    }
    button{
      border:none;
      padding: 5px 15px;
      border-left: 1px solid #cdcdcd;
      background: #fff;
      &:focus{
        outline: none;
      }
    }

  }
  .list-items{
    background: #fff;
  }
}
