.wr-select{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: baseline;
  margin-bottom: 10px;
  label{
    position: absolute;
    top: 5px;
    left: 20px;
    text-transform: uppercase;
    z-index: 9;
  }
  .select{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    .css-yk16xz-control{
      padding: 20px 10px 5px 10px;
      border: none;
    }
    .css-1pahdxg-control{
      padding: 20px 10px 5px 10px;
      border: none;
      box-shadow: none;
    }
    &.border-fc3636{
      border: 1px solid #fc3636;
    }

  }
  .css-1okebmr-indicatorSeparator{display: none}
}
