@import '../../Style/variable';
.wr-register{
  &+.home-nav{
    display: none;
  }
  &.edit-profile{
    &+.home-nav{
      display: block;
    }
    .wr-content{
      margin-bottom: 60px;
    }
    .wr-bar-submit{
      bottom:65px;
      .wr-btn-submit{
        text-align: center;
      }
    }
  }
  position: relative;
  background-color: #f9f9f9;
  padding-top: 50px;
  min-height: calc(100vh - 65px);
  .text-alert-required{
    color:$color-rgb73;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .wr-content{
    margin-bottom: 90px;
    .wr-inner-content{
      background-color: #fff;
      margin-bottom: 10px;
    }
    form{
      padding:15px 0;
    }
    .wr-input{
      padding: 10px 0
    }
    .input-no-border{
      border: none;
      border-bottom: 1px solid #cdcdcd;
      box-shadow: none;
      border-radius: 0;
      padding-left: 0;
      margin-left: 18px;
      width: calc(100% - 18px);
    }
    .row-gender{
      padding: 10px 0 ;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      align-items: center;
      .label{
        color: $color-000000;
        padding: 5px 0 5px 18px;
      }
      .value{
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 0;
      }

      .value input {
        display: none;
      }

      .checkmark {
        color: #736f6f;
        border-radius: 5px;
        padding: 5px 10px;
      }
      .value input:checked ~ .checkmark {
        background-color: #0076ff;
        color: #fff;
      }
    }
  }
  .wr-bar-submit{
    width: 100%;
    border-top: 1px solid #ededed;
    position: fixed;
    bottom:0;
    background-color: #fff;
    z-index: 900;
    color:$color-rgb73;
    padding: 15px 0;
    .wr-terms-conditions{
      padding: 5px 0 10px 0;
      .label{
        color: rgb(166,166,166);
        font-size: 12px;
        margin-bottom: 5px;
      }
      .checkbox-btn{
        margin-right: 10px;
      }
      span{
        font-size: 14px;
        color: $color-rgb73;
        &.link{
          color:rgb( 84, 113, 255);
          cursor: pointer;
        }
      }
    }
    button{
      padding: 5px 100px;
      margin: 5px 0;
    }
  }
  &.modal-dialog{
     max-width: 800px;
     .modal-header{
       border-bottom: none;
       .title{
         font-size: 18px;
       }
     }
     .modal-body{
       overflow: auto;
       font-size: 14px;
     }
   }

}
