@import "../../Style/variable";
.wr-my-order{
  width: 100%;
  padding-top: 50px;
  min-height: calc(100vh - 65px);
  background: #f9f9f9;
  .items{
    .item{
      background-color: #fff;
      margin-bottom: 10px;
      padding: 10px;
      .inner-item{
        display: flex;
        flex-direction: row;
        place-items: center;
        a{
          text-decoration: none;
          .details{
            .date{
              color:#a7a7a7;
              font-size: 14px;
            }
            .title{
              color: rgb(76,76,76);
              font-size: 16px;
              font-weight: 500;
            }
            .desc{
              color: rgb(76,76,76);
              font-size: 14px;
            }
          }
        }
        .price{
          font-size: 18px;
          color: #838383;
        }
        i{
          margin-left: 30px;
          font-size: 20px;
          color: #838383;
        }
        table{
          font-size: 16px;
          td:first-child{
            color:$color-a7a7a7 ;
            min-width: 130px;
          }
        }
        .order-product{
          padding: 10px 0;
          display: flex;
          flex-direction: row;
          align-items: baseline;
          border-top: 1px solid #eaeaea;
          font-size: 16px;
          .qty{
            margin-right: 5px;
          }
          .product{
            .name-product{
              font-weight: 500;
            }
          }
          .price{
            margin-left: auto;
            font-size: 16px;
          }
        }
        .price-summary{
          padding: 10px 0;
          border-top: 1px solid #eaeaea;
          font-size: 16px;
          .one-row{
            display: flex;
            flex-direction: row;
            width: 100%;
            &.total{
              margin-top: 10px;
              .value{
                font-weight: 500;
              }
            }
            .label{
              color:$color-a7a7a7
            }
            .value{
              font-size: 16px;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
