@import "../../../Style/variable";
.checkbox-btn{
  position: relative;
  width: 20px;
  height: 20px;
  .form-radio
  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: absolute;
    background-color: rgb( 111, 199, 14);
    color: #666;
    top: 0;
    right: 0px;
    height:20px;
    width: 20px;
    border: 1px solid rgb( 111, 199, 14);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
  }
  .form-radio:checked::before
  {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 6px;
    top: 2px;
    content: '\02143';
    transform: rotate(40deg);
    width: 7px;
    height: 11px;
    color: #fff;
  }
  &.square-box{
    .form-radio{
      border-color: $color-rgb212;
      background-color: #fff;
      border-radius: 4px;
      &:checked::before{
        color:rgb( 111, 199, 14);
      }
    }
  }
  &.square-box-blue{
    .form-radio{
      border-color: $color-rgb212;
      background-color: #fff;
      border-radius: 4px;
      &:checked{
        background-color: rgb( 7, 121, 255);
        border-color: rgb( 7, 121, 255);
      }
      &:checked::before{
        color:#fff;
      }
    }
  }
}
