.wr-dev-login{
  background-color: #f9f9f9;
  &+.home-nav{
    display: none;
  }
  min-height: calc(100vh - 65px);
}
.btn-fb{
  background-color:rgb(37,83,180);
  border:none;
}
.btn-gg{
  background-color:rgb(255,255,255);
  color: rgb(91, 102, 117);
  border: none;
  box-shadow: 0 1pt 4pt rgba(0, 0, 0, 0.21);
}
