.radio-btn{
  position: relative;
  width: 20px;
  height: 20px;
  .form-radio
  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: absolute;
    background-color: #fff;
    color: #666;
    top: 0px;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(7,121,255);
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
  }
  .form-radio:checked::before
  {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 4px;
    top: 4px;
    content: "";
    width: 10px;
    height: 10px;
    display: table;
    border-radius: 100%;
    background: rgb(7,121,255);
  }
}
