  .accordion{
    width: 100%;
    padding-right: 30px;
    &>.card:first-of-type{
      border: none;
    }
    .label-left{
      padding-left: 0;
    }
    .value-right{
      margin-left: auto;
      font-weight: 500;
      padding-right: 20px;
      position: relative;
    }
    .card{
      .card-header{
        display: flex;
        flex-direction: row;
        position: relative;
        place-items: center;
        padding: 0.5rem 0.75rem;
        font-size: 14px;
        border: none;

        i{
          font-size: 18px;
          position: absolute;
          right: .75rem;
          top: inherit;
          color: rgb(151, 151, 151);
        }
      }
      .card-body{
        &>.label-left{
          color:rgb( 76, 76, 76);
        }
        font-size: 12px;
        padding: 0.75rem;
      }
    }
    &.default{
      padding-right: 0;
      .card{
        .card-header{
          padding:0.5rem 0;
          i{
            right: 0;
          }
        }
      }
    }
  }

