.top-bar-title{
  width: 100%;
  position: fixed;
  top:0;
  z-index: 900;
  height: 50px;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  background: #fff;
  .btn-sort{
    position: absolute;
    right: -0.75rem;
    top:0;
    button{
      background: #fff;
      border: none;
      box-shadow: none;
      &:active{
        background-color: #fff !important;
        //&:focus{
        //  box-shadow: none !important;
        //}
      }
    }
  }
}
.stickyInfo{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  line-height: 20px;
  width: auto;
  padding: 0 5px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  background: #323232;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}
.show-less{
  color:rgb( 5, 120, 255);
  margin: 10px 10px 5px 0;
  i{
    font-size: 1.25em;
  }
}
.gr-radio-label{
  display: flex;
  place-items: center;
}
.tooltip-note{
  min-width: 220px;
  border-radius: 5px;
  padding:5px;
  text-align: center;
  font-size: 14px;
  background-color: #00000060;
  color:#fff;
  position: absolute;
  top:calc(-100% - 20px);
  left: -50%;
  &:after{
    bottom: -10px;
    left: 50px;
    position: absolute;
    display: table;
    content:'';
    border-top:10px solid #00000060 ;
    border-left:10px solid transparent ;
    border-right:10px solid transparent ;
  }
}
.dot-dot-dot{
  display: -webkit-box;
  -webkit-line-clamp: 3;// number line
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &.one-line{
    -webkit-line-clamp:1;
  }
  &.two-line{
    -webkit-line-clamp:1;
  }
}
.one-row-two-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.d-flex-column{
  display: flex;
  flex-direction: column;
}
.d-flex-row{
  display: flex;
  flex-direction: row;
}
.bg-rgb425875{
  background: rgb( 42, 58, 75) !important;
}
.bg-rgb249{
  background: rgb( 249, 249, 249) !important;
}
.bg-373737{
  background: #373737 !important;
}
.bg-fff{
  background: #fff !important;
}
.bg-f7f7f7{
  background: #f7f7f7 !important;
}
.color-fff{
  color:#fff !important;
}
.color-rgb134{
  color:rgb(134,134,134) !important;
}
.color-rgb137{
  color:rgb(137,137,137) !important;
}
.color-rgb117{
  color:rgb(117,117,117) !important;
}

.color-rgb73{
  color:rgb(73,73,73) !important;
}
.color-10710454{
  color: rgb( 107, 104, 54) !important;
}
.color-0076ff{
  color:#0076ff !important;
}
.color-a7a7a7{
  color:#a7a7a7 !important;
}
.fw-500{
  font-weight: 500 !important;
}

.fs-12{
  font-size: 12px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px !important;
}

.p-15px{
  padding: 15px !important;
}
.pt-10px{
  padding-top: 10px !important;
}
.pb-10px{
  padding-bottom: 10px !important;
}
.p-10px{
  padding: 10px !important;
}
.m-15px{
  margin: 15px !important;
}
.mb-10px{
  margin-bottom: 10px !important;
}
.mb-15px{
  margin-bottom: 15px !important;
}
.mt-10px{
  margin-top: 10px !important;
}
.mt-15px{
  margin-top: 15px !important;
}
.m-10px{
  margin: 10px !important;
}
.w-60{
  width: 60% !important;
}
.text-decoration-through{
  text-decoration: line-through;
}
.cursor-pointer{
  cursor: pointer;
}
