
.side{
  max-width: 100% !important;
  width: 300px;
  margin:0;
  border-radius: 0;
  position: absolute;
  right: 0;
  .modal-content{
    height: 100vh;
    border-radius: 0;
    .modal-header{
      align-items: center;
      height: 50px;
      background-color: rgb(249,249,249);
      &.side-header{
        flex-direction: row-reverse;
        .title{
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
        }
        .close{
          padding: 0;
          font-size: 30px;
        }
      }
      button.clear{
        color: #000;
        background-color: transparent;
        font-size: 16px;
        box-shadow: none;
        border: none;
      }
    }
    .modal-body{
      padding: 1rem 0;
      max-height:100vh;
    }
    .item{
      cursor: pointer;
      color: #949494;
      padding: 10px 0;
      font-weight: 500;
      border-bottom: 1px solid #cdcdcd;
    }
  }
  &.filter{
    .modal-content{
      .modal-body{
        overflow: scroll;
        padding-bottom: 65px;
        height: calc(100vh - 65px - 50px);
        background-color: #f7f7f7;
        .accordion{
          border-top: 1px solid #efefef;
          border-bottom: 1px solid #efefef;
          padding: 0;
          .card-header{
            color: #a9a9a9;
            padding: 10px 20px;
            text-transform: uppercase;
            background-color: #fff;
          }
          .card-body{
            padding: 0;
            .item{
              font-weight: 400;
              font-size: 14px;
              color: #a9a9a9;
              padding: 10px 20px 10px 0;
              margin-left: 20px;
              &:last-child{
                border-bottom: none;
              }
            }
          }
        }
        .btn-remove{
          width: 24px;
          height: 24px;
          border: none;
          box-shadow: none;
          line-height: 0;
        }
      }

    }
    .wr-button{
      position: absolute;
      width: 100%;
      bottom: 0;
      border-top: 1px solid #ededed;
      background: #fff;
      padding: 11px 18px;
      button{
        padding: initial;
        width: 100%;
        background: #0779ff;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.18);
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        height: 39px;
        border: none;
        line-height: 39px;
      }
    }
  }
}
