.carousel{
  margin-top: 50px;
  padding: 0 15%;
  .carousel-indicators{
    li{
      width: 8px;
      height: 8px;
      background-color: #c3bebe;
      border:none;
      border-radius: 50px;
      opacity: .8;
      &.active{
        width: 10px;
        height: 10px;
        background-color: #736f6f;
      }
    }
  }
  .carousel-inner{
    .carousel-item{
      img{

      }
    }
  }
  .carousel-control-next, .carousel-control-prev{
    i{
      color:#333;
      font-size: 20px;
    }
  }

}
