.cart-alert{
  display: flex;
  flex-direction: row-reverse;
  place-items: center;
  img{
    width: 25px;
    height: 25px;
  }
  .content{
    &.warning{
      border-color: rgb( 252, 219, 219);
      background: rgb(255,237,237);
      color:rgb( 206, 28, 28);
    }
    &.info{
      border-color: rgb(213,235,252);
      background:rgb( 233, 245, 255) ;
      color:rgb( 17, 125, 204);
    }
    &.normal{
      border-color: rgb( 239, 236, 201);
      background: rgb(245,244,228);
      color:rgb( 81, 81, 81);
    }
    border-left: 6px solid ;
    padding: 10px 25px 10px;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
  }
}
