
.input-wrap-label{
  margin: 10px 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: baseline;
  margin-bottom: 10px;
  label{
    text-transform: uppercase;
    position: absolute;
    z-index: 9;
    top: 5px;
    &.title{
      left: 20px;
    }
    &.value{
      right: 20px;
      font-size: 16px;
    }
  }
  .input{
    min-height: 60px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px 10px 5px 18px;
  }
  .count-character{
    font-size: 12px;
    color: rgb(137,137,137);
    text-align: right;
    width: 100%;
  }
}
