@import "../../Style/variable";
.wr-checkout{
  position: relative;
  &+.home-nav{
    display: none;
  }
  background-color: $main-bg-color ;
  min-height: calc(100vh - 65px);
  .item{
    background-color: #fff;
    .inner-item{
      padding: 15px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .step{
    .helper-text{
      text-align: center;
      font-size: 14px;
      color: #a7a7a7;
      padding: 8px 0;
    }
    .order-summary{
      width: 100%;
      .product{
        color: #4c4c4c;
        display: flex;
        flex-direction: row;
        padding: 15px 0;
        border-bottom: 1px solid  #eaeaea;
        .img{
          margin-right: 15px;
          width: 60px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .wr-button{
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #736f6f;
    .wr-confirm{
      display: flex;
      .checkbox-btn+label{
        margin-left: 15px;
      }
    }
    .inner-wr-button{

      button{
        min-width: 200px;
        padding: 5px;
      }
      button:disabled{
        cursor: no-drop;
      }
    }
  }
  .MuiStepper-root{
    padding: 15px;
  }
  &.modal-dialog{
    max-width: 400px;
    min-height: 0;
    button{
      padding: 5px 20px;
    }
  }
}
