.wr-disconnect{
  text-align:center;
  padding-top:20vh;
  color:#cdcdcd;
  .img{
    max-width:100px;
  }
  .button{
    background-color:initial;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
  }
}
