.home-nav{
  width: 100%;
  border-top: 1px solid #ededed;
  position: fixed;
  bottom:0;
  height: 65px;
  background-color: #fff;
  z-index: 999;
  .active{
    color:#0679ff;
  }
  .items{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    .item-nav{
      color:#949494;
      text-decoration:none !important;
      .item{
        display: flex;
        flex-direction: column;
        place-items: flex-start;
        font-size: 14px;
        .icon{
          position: relative;
          margin: 0 auto;
          .number{
            width: 16px;
            height: 16px;
            line-height: 14px;
            text-align: center;
            background-color: #f1502a;
            border-radius: 100px;
            color: #fff;
            font-size: 11px;
            letter-spacing: .18px;
            position: absolute;
            top: -7px;
            font-weight: 600;
            right: -7px;
          }
        }
      }
    }
  }
}
