.wr-my-wishlist{
  width: 100%;
  padding-top: 50px;
  min-height: calc(100vh - 65px);
  background: #f9f9f9;
  .no-item{
    color:#a7a7a7;
    width: 200px;
    margin: calc(100vh/3 - 20px) auto 0 auto;
  }
  .items{
    .item{
      background-color: #fff;
      .inner-item{
        padding: 15px 0;
        border-bottom: 1px solid #a7a7a7;
          .img{
          width: 90px;
          margin-right: 15px;
          img{
            width: 100%;
          }
        }
        .item-right{
          min-width: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .item-bag, .item-delete{
            position: relative;
            right: 0;
            bottom:0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
