@import '../../Style/variable';

.wr-product-detail{
  position: relative;
  background-color: $color-rgb249;
  .inner-wr{
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 14px;
    color: rgb(73,73,73);
    .item-out-of-stock{
      background-color: $color-rgb249;
      padding:10px 20px;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 10px;
    }
    .btn-add-to-bag{
      padding:8px 70px;
      background-color: rgb(67,164,34);
      color:#fff;
      box-shadow: none;
      border: none;
    }
    .product-review-box{
      .no-review-desc {
        height: 75px;
        display: flex;
        margin: 0 22px;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ededed;
        color: #999;
        font-size: 14px;
      }
      .btn-add-review{
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        color:#0779ff;
        font-size: 16px;
      }
    }


    .price-from-to{
      width: 100%;
      font-size: 14px;
      tr>td:first-child{
        width: 50%;
        text-align: right;
        padding: 0 5px;
        color: rgba($color-000000,.4);
      }
      tr>td:last-child{
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        padding: 0 5px;
      }
    }
    .bundle-product-empty{
      text-align: left;
      .text-required{
        font-size: 14px;
        color:rgb(174,141,141);
      }
      .group{
        margin: 10px 0 15px 0;
        font-size: 16px;
        .title-block{
          font-weight: 500;
          color: $color-rgb76;
        }
        .radio-btn, .checkbox-btn{
          margin-right: 15px;
        }
        label{
          margin: 0;
        }
        input[type=number]{
          width: 50px;
          text-align: center;
          &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }
  .img-in-btn{
    width: 16px;
    height: 16px;
    margin-bottom: 6px;
    margin-right: 6px;
  }
  &.modal-dialog{
     .modal-header{
       height: 50px;
       .modal-title{
         font-size: 1rem;
       }
     }
     .modal-body{
       overflow-y: scroll;
       max-height: 70vh;
       .title-block{
         color: #4c4c4c;
         font-size: 18px;
         line-height: 24px;
         padding: 12px 22px 17px;
         .desc {
           font-size: 12px;
           line-height: 17px;
           padding-bottom: 10px;
         }
       }
       .review-field{
         position: relative;
         background: #fff;
         margin-bottom: 9px;
         padding: 10px 22px 30px;
         border: 1px solid #fff;
         .title-field {
           color: #a6a6a6;
           font-size: 12px;
           font-weight: 600;
           line-height: 17px;
           padding-bottom: 5px;
           padding-top: 5px;
         }
         .txt_field {
           border: none;
           padding: 0;
           color: #4c4c4c;
           font-size: 14px;
           line-height: 18px;
           width: 100%;
           margin-top: 8px;
         }
         .txt_area {
           padding: 0;
           color: #4c4c4c;
           font-size: 14px;
           line-height: 18px;
           width: 100%;
           margin-top: 8px;
           min-height: 70px;
         }
       }
     }
   }
  .row-gender{
    padding: 10px 0 ;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    .label{
      color: $color-000000;
      padding: 5px 0 5px 18px;
    }
    .value{
      display: block;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-bottom: 0;
    }

    .value input {
      display: none;
    }

    .checkmark {
      &.span-color{
        display: inline-block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0 2px #cdcdcd;
        border: 4px solid #fff;
        border-radius: 50px;
        margin: 10px;
      }
      &.span-size{
        cursor: pointer;
        display: inline-block;
        padding: 3px;
        margin: 10px;
        width: 50px;
        height: 30px;
        border: 1px solid rgb(212,212,212);
        border-radius: 4px;
        color: rgb(73,73,73);
        font-size: 14px;
        background: rgb(247,247,247);
      }
    }
    .value input:checked ~ .checkmark {
      &.span-color{
        box-shadow: 0 0 0 2px blue;
      }
      &.span-size{
        background: #fff;
        border-color:rgb(0,118,255);
      }
    }
  }
}

.wr-view-image-full{
  margin: 50px;
  height: calc(100vh - 50px);

}
